.Bot {
  width: calc((100% / 3) - 5px);
  height: 150px;

  background: rgba($color: #ffffff, $alpha: 0.1);

  border-radius: 10px;

  display: flex;

  flex-wrap: wrap;

  flex-direction: column;

  gap: 0;

  justify-content: center;

  align-items: center;

  h5,
  h6 {
    margin: 0;
  }

  h5 {
    color: #ffffff;
  }

  img {
    width: 80px;
    height: 80px;
  }
}
